{{#override_prompt}}{{.}}{{/override_prompt}}{{^override_prompt}}Please answer the questions based on the content below.{{#ref}}If there are references, please include them at the end of the answer.{{/ref}}{{/override_prompt}}

{{#docs}}{{page_content}}

{{/docs}}

Question: {{question}}