version: '3'

services:
  api_doc_qa:
    runtime: nvidia
    build: .
    devices:
      - /dev/nvidia0:/dev/nvidia0
    environment:
      - CUDA_VISIBLE_DEVICES=0
      - AGENT_ENDPOINT=http://web_agent:9000/v1.0/
      - LLM_NAME=doc_qa
      - PUBLIC_ADDRESS=api_doc_qa
      - PORT=9001 # Leave blank will assign by the OS.
      - IGNORE_AGENT=False
      - DEBUG=True
    networks:
      - taide_backend
    healthcheck:
      test: ["CMD", "curl", "-X", "POST", "-f", "http://localhost:9001/"]
      interval: 10s
      timeout: 5s
      retries: 5

# Connect to the network created by web_agent
networks:
  taide_backend:
    external: true