version: '3'

services:
  api_doc_qa:
    runtime: nvidia
    build: .
    devices:
      - /dev/nvidia0:/dev/nvidia0
    restart: always
    environment:
      - CUDA_VISIBLE_DEVICES=0
      - AGENT_ENDPOINT=http://web_agent:9000/v1.0/
      - LLM_NAME=doc_qa
      - PUBLIC_ADDRESS=api_doc_qa
      - PORT=9001 # Leave blank will assign by the OS.
      - IGNORE_AGENT=False
      - DEBUG=True
    networks:
      - taide_backend
      - squid_backend
      - monitor_backend
    healthcheck:
      test: "curl --fail http://localhost:9001/health || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - /var/models/:/llm/:ro

# Connect to the network created by web_agent and squid
networks:
  taide_backend:
    external: true
  squid_backend:
    external: true
  monitor_backend:
    external: true