langchain
# accelerate
# torch
# transformers
sentence-transformers
textract
bs4
# faiss-gpu # Since the count of fetched document is relatively small, CPU is enough.
faiss-cpu
chevron
trafilatura
jsonlines
tokenizers
requests-oauthlib
requests