./ # kuwa-executor

# Gemini-Pro
google-generativeai >= 0.6.0

# GPT
openai
tiktoken

# llama.cpp
huggingface_hub
llama-cpp-python >= 0.2.77, == 0.2.87

# Huggingface
torch == 2.3.0
torchvision == 0.18.0
transformers
accelerate
sentencepiece
pillow
requests

# ollama
jinja2
ollama

# stbot
langchain_community
langchain
chromadb
pypdf