./ # kuwa-executor

# Gemini-Pro
google-generativeai

# GPT
openai
tiktoken

# llama.cpp
llama-cpp-python

# Huggingface
torch
torchvision
transformers
accelerate
sentencepiece
pillow
requests

# ollama
jinja2
ollama