<?xml version="1.0" encoding="UTF-8"?>
<!-- I have set HSTS in production env,
But seems like Checkmarx cannot detect HSTS on Laravel,
So I'm using this to prevent that message being shown again -->
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=36000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>